body {
  margin: 0;
  font-family: "Arial", Gadget, sans-serif
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  height: 65px;
  margin: 0;
  background: #563d7c;
  width: 100%;
  top: 0px;
}

.headerLogo {
  padding-top: 1em;
  padding-left: 1em;
}

.headerNav {
  margin-top: 1.5em;
  width: 88%;
}

.headerNav a:hover {
  color: white;
}

.homeLink {
  color: white;
  padding-left: 1em;
}

.navLink {
  color: #c2b3da;
  padding-left: 0.8em;
}

.inLine {
  display: inline-block;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.downloadButton {
  text-align: center;
  color: #ffe484;
  border: 1px solid #ffe484;
  border-radius: 5px;
  padding: 0.6em;
  margin-right: 1em;
  margin-top: 0.8em;
  width: 85px;
  transition: background-color 0.1s ease-out;
}

.downloadButton:hover {
  background-color: #ffe484;
  color: #563d7c;
  cursor: pointer;
}

.socialButton {
  opacity: 0.7;
}

.socialButton:hover {
  opacity: 1;
}

.body {
  margin-top: 10em;
}
