body {
  font-family: helvetica, sans-serif;
  margin: 0;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.head {
  font-size: 1.5em;
}

header {
   border-bottom: 1px solid lightgray;
   width: 85%;
   margin: auto;
}

header .login {
  padding-top: 1em;
  color: lightgray;
  font-size: 0.9em;
}

header a {
  color: lightgreen;
  text-decoration: none;
}

header a:hover {
  color: green;
}
