body {
  font-family: helvetica, sans-serif;
  margin: 0;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.head {
  font-size: 1.5em;
}

header {
   border-bottom: 1px solid lightgray;
   width: 85%;
   margin: auto;
}

header .login {
  padding-top: 1em;
  color: lightgray;
  font-size: 0.9em;
}

header a {
  color: lightgreen;
  text-decoration: none;
}

header a:hover {
  color: green;
}

nav {
  margin: auto;
  width: 85%;
}

nav p {
  padding: 2em;
  text-indent: inherit;
  overflow: auto;
  white-space: nowrap;
  margin: 0;
  padding: 1em;
}

nav p a {
  color: gray;
  text-decoration: none;
}

nav p a:hover {
  color: darkgray;
}

.box {
  margin-top: 0;
  padding: 0;
  margin: auto;
  width: 1000px;
  height: 400px;
  background-image: url("https://vignette3.wikia.nocookie.net/harrypotter/images/3/3d/1000px-Lke.jpg/revision/latest?cb=20120909003504");
}

.hr {
  margin: 0;
  padding: 0;
  color: lightgray;
}

.boxHead {
  padding: 2em;
  margin: 0;
  display: block;
  width: 45%;
}

.boxHead h2 {
  margin: 0;
  font-family: Times;
  font-size: 3em;
  color: white;
  font-weight: normal;
}

.boxHead p {
  font-size: 1.2em;
  margin: 1em;
}

.p {
  color: white;
}

 .buttonLeft {
   color: black;
   font-size: 0.75em;
   border: 1px solid white;
   display: inline-block;
   background-color: white;
   border-radius: 30px;
 }

.buttonRight {
  font-size: 0.75em;
  border: 1px solid white;
  display: inline-block;
  color: white;
  border-radius: 30px;
}

.breakerBox {
  width: 1em;
  display: inline-block;
}
